<div class="relative">
  <ng-content></ng-content>

  <button
    type="button"
    class="absolute top-1/2 right-3.5 inline-flex -translate-y-1/2 cursor-pointer items-center justify-center border-0 bg-transparent text-slate-600 transition-colors duration-150 hover:text-slate-900"
    [attr.aria-label]="isVisible() ? 'Hide password' : 'Show password'"
    [attr.aria-pressed]="isVisible()"
    (click)="toggleVisibility()"
  >
    <fa-icon [icon]="isVisible() ? faEyeSlash : faEye"></fa-icon>
  </button>
</div>
