@use "tailwindcss";
@use '@angular/material' as mat;

:root {

  input::placeholder,
  textarea::placeholder,
  .mat-mdc-select-placeholder {
    color: theme('colors.gray.400');
    opacity: 1;
    @apply text-base text-gray-400;
  }

  // ========== Start mat snack-bar ==========
  .mat-mdc-snack-bar-container {
    .mat-mdc-snackbar-surface {
      width: calc(7vw + 40rem);
      min-width: unset;
      max-width: calc(100vw - 1rem);
      border-radius: .5rem;

      .mdc-button {
        .mdc-button__label {
          font-weight: 600;
        }

        &:hover {
          .mdc-button__ripple {
            opacity: .1;
            border-radius: .5rem;
          }
        }
      }
    }
  }

  @include mat.snack-bar-overrides((container-color: theme('colors.blue.100'),
      supporting-text-color: theme('colors.blue.900'),
      button-color: theme('colors.blue.900'),
    ));

  .snackbar-error {
    @include mat.snack-bar-overrides((container-color: theme('colors.red.200'),
        supporting-text-color: theme('colors.red.900'),
        button-color: theme('colors.red.900'),
      ));
  }

  .snackbar-success {
    @include mat.snack-bar-overrides((container-color: theme('colors.emerald.100'),
        supporting-text-color: theme('colors.emerald.800'),
        button-color: theme('colors.emerald.800'),
      ));
  }

  // ========== End mat snack-bar ==========



  // ========== Start mat dialog ==========

  @include mat.dialog-overrides((content-padding: 0,
      container-shape: 1rem,
    ));

  mat-dialog-content {
    max-height: 90vh;
    max-height: 90dvh;
  }

  // ========== End mat dialog ==========



  // ========== Start mat menu ==========

  @include mat.menu-overrides((container-shape: 0.5rem,
      container-color: theme('colors.white'),
    ));

  // ========== End mat menu ==========



  // ========== Start mat select ==========

  @include mat.select-overrides((panel-background-color: theme('colors.white'),
      placeholder-text-color: theme('colors.gray.400'),
    ));

  mat-select {
    padding: 0;
  }

  .mat-mdc-option:hover {
    background-color: theme('colors.gray.100') !important;
  }

  .mat-mdc-select-trigger {
    @apply px-4 py-1.5 lg:py-2;
  }

  .mat-mdc-select-placeholder {
    @apply pe-3;
  }

  // ========== End mat select ==========



  // ========== Start mat checkbox ==========

  @include mat.checkbox-overrides((touch-target-size: 24px,
      state-layer-size: 24px,
    ));

  .mdc-checkbox__background {
    border-color: inherit !important;
  }

  // ========== End mat checkbox ==========

}