@use './font-face.scss' as fontFace;

// Define font weights and corresponding file names
$font-variations: (
    '100': 100,
    '100italic': 100 italic,
    '200': 200,
    '200italic': 200 italic,
    '300': 300,
    '300italic': 300 italic,
    'regular': 400,
    'italic': 400 italic,
    '500': 500,
    '500italic': 500 italic,
    '600': 600,
    '600italic': 600 italic,
    '700': 700,
    '700italic': 700 italic,
    '800': 800,
    '800italic': 800 italic,
    '900': 900,
    '900italic': 900 italic
);


$font-family-name: 'Poppins';
$path: 'Poppins/poppins-v24-latin';

@include fontFace.generate-font-styles($path, $font-family-name, $font-variations);