<div class="sticky top-0 z-10 shadow px-3 u-gradient-background u-light-gradient c-header">
    <nav class="flex flex-row justify-between items-center py-2 mx-auto u-container-1">
        <ul class="flex gap-x-1 items-center">
            @if (authState().user?.id) {
            <ng-container [ngTemplateOutlet]="routeLink" [ngTemplateOutletContext]="{ route: '/todo', label: 'Todo' }">
            </ng-container>
            }
            <li>
                <a [href]="portfolioUrl()" target="_blank" rel="noopener noreferrer" class="u-nav-link">
                    Portfolio
                </a>
            </li>
        </ul>
        <ul class="flex gap-x-1 items-center">
            @if (authState().user?.id) {
            <li>
                <a [routerLink]="'/profile'" routerLinkActive="u-is-active" [routerLinkActiveOptions]="{ exact: false }"
                    class="u-nav-link flex items-center gap-2">
                    <app-thumbnail [profileImage]="profileState().profileImage" [loading]="profileState().loading" size="1.5rem" radius="50%"></app-thumbnail>
                    <app-formatted-text
                        [text]="authState().user?.name || authState().user?.username || 'Profile'"
                        [maxLength]="11">
                    </app-formatted-text>
                </a>
            </li>
            <li>
                <button (click)="onLogout()" class="u-nav-link">Logout</button>
            </li>
            } @else {
            <ng-container [ngTemplateOutlet]="routeLink"
                [ngTemplateOutletContext]="{ route: '/auth/login', label: 'Login' }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="routeLink"
                [ngTemplateOutletContext]="{ route: '/auth/signup', label: 'Sign Up' }">
            </ng-container>
            }
        </ul>
    </nav>
</div>

<ng-template #routeLink let-route="route" let-label="label">
    <li>
        <a [routerLink]="route" routerLinkActive="u-is-active" [routerLinkActiveOptions]="{ exact: false }"
            class="u-nav-link">
            {{ label }}
        </a>
    </li>
</ng-template>
