<nav class="sticky top-0 z-10 shadow px-3 u-gradient-background u-light-gradient c-header">
    <div class="flex flex-row justify-between items-center py-2 mx-auto u-container-1">
        <ul class="flex items-center">
            @if (user().user?.id) {
            <ng-container [ngTemplateOutlet]="routeLink" [ngTemplateOutletContext]="{ route: '/todo', label: 'Todo' }">
            </ng-container>
            }
            <li>
                <a [href]="portfolioUrl()" target="_blank" rel="noopener noreferrer" class="u-nav-link">
                    Portfolio
                </a>
            </li>
        </ul>
        <ul class="flex items-center">
            @if (user().user?.id) {
            <li>
                <button (click)="onLogout()" class="u-nav-link">Logout</button>
            </li>
            } @else {
            <ng-container [ngTemplateOutlet]="routeLink"
                [ngTemplateOutletContext]="{ route: '/auth/login', label: 'Login' }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="routeLink"
                [ngTemplateOutletContext]="{ route: '/auth/signup', label: 'Sign Up' }">
            </ng-container>
            }
        </ul>
    </div>
</nav>

<ng-template #routeLink let-route="route" let-label="label">
    <li>
        <a [routerLink]="route" routerLinkActive="u-is-active" [routerLinkActiveOptions]="{ exact: true }"
            class="u-nav-link">
            {{ label }}
        </a>
    </li>
</ng-template>