<!-- {{pageReload()}} -->
<div class="ai-layout" [class.ai-open]="aiState.open()">
<div class="app-content text-base wrap-break-word min-h-dvh flex flex-col relative">
  @if (authState().completed) {
  <header class="sticky top-0 z-10">
    <app-header></app-header>
  </header>
  }
  <main class="u-gradient-background grow relative flex flex-col">
    @if (showLoader()) {
    <div class="absolute inset-0 z-50 flex items-center justify-center bg-white/50 backdrop-blur-[1px]">
      <mat-spinner diameter="80" class="stroke-violet-700"></mat-spinner>
    </div>
    }
    <div class="grow relative flex flex-col" [ngClass]="{ hidden: showLoader() }">
      <router-outlet></router-outlet>
    </div>
  </main>

  @if (authState().completed) {
  <footer class="footer">
    <app-footer></app-footer>
  </footer>
  }
</div>
@if (authState().completed) {
  <app-ai-launcher class="fixed right-6 bottom-6 z-20 hidden xl:block"></app-ai-launcher>
  <app-ai></app-ai>
}
</div>
