<div class="overflow-hidden" [ngStyle]="{ width: size(), height: size(), 'border-radius': radius() }">
  @if (loading()) {
  <div class="h-full w-full bg-gray-300 animate-pulse"></div>
  } @else if (imageData()) {
  <img [src]="'data:' + (fileType() || 'image/jpeg') + ';base64,' + imageData()" [alt]="alt()"
    class="h-full w-full object-cover" />
  } @else {
  <div class="flex h-full w-full items-center justify-center bg-slate-100 c-thumbnail-fallback-icon">
    @if (fallbackInitial()) {
    <span class="c-thumbnail-fallback-initial"
      [ngStyle]="{ 'font-size': 'calc(' + size() + ' * .42)', 'background-color': fallbackBackgroundColor() }">
      {{ fallbackInitial() }}
    </span>
    } @else {
    <fa-icon [icon]="faUser" [ngStyle]="{ 'font-size': 'calc(' + size() + ' * .7)' }"
      class="text-slate-400"></fa-icon>
    }
  </div>
  }
</div>
